body {
	background-color: #F6F8F9;
	padding-top: 126px;
}
/*header*/
.header-wrap {
 	background-color: gray;
 	padding: 30px;
 	position: fixed;
 	top: 0;
 	left: 0;
 	width: 100%;
 	z-index: 20;
 }
.logo {
 	display: inline-block;
 	margin-left: 20px;
 	font-size: 11px;
 	color: #FA6980;
 	text-transform: uppercase;
 	font-family: 'Helvetica-Bold';
 	font-weight: bold;
 }
 .nav {
 	display: inline-block;
 	margin-left: 50px; 
 }
 .nav-li {
 	display: inline-block;
 	margin-right: 20px;
 	margin-left: 20px;
 	text-transform: uppercase;
 	
 	font-size: 11px;
 	font-family: 'Helvetica-Bold';
 }
 .avatar {
 	display: inline;
 	vertical-align: middle;
 	margin-left: 40px;
 	margin-top: 11px;
 }



/*content*/

.sect {
	width: 1160px;
	margin-left: 140px;
	
}
.h2 {
	margin-top: 25px;
	margin-left: 140px;
	margin-bottom: 60px;
	text-transform: uppercase;
 	font-size: 24px;
 	font-family: 'Helvetica'; 
}
.conteiner-block {
	width: 1160px;
	margin-top: 75px;
	position: relative;
}
.conteiner-block1 {
	display: inline-block;
	width: 360px;
	vertical-align: top;
}
.conteiner-block2 {
	display: inline-block;
	vertical-align: top;
	width: 360px;
}
.conteiner-block3 {
	display: inline-block;
	width: 360px;
	vertical-align: top;
}
.text-image {
	position: absolute;
	top: 28px;
	left: 40px;
	font-size: 16px;
	color: #F6F8F9;
}
.cont-text {
	width: 280px;
	height: 38px;
	margin-top: 76px;
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom: 40px;
	font-size: 13px;
	color: #A6ADB4;
 	font-family: 'Helvetica'; 
}
.image-wrap {
	position: relative;
	display: inline-block;
}
.left-block {
	display: inline-block;
	width: 760px;
	vertical-align: top;
	margin-right: 40px;
}
.right-block {
	display: inline-block;
	width: 360px;
	vertical-align: top;
}
.image22 {
	margin-top: 102px;
	margin-bottom: 102px;
}

/*footer*/
.footer-bg {
	background-color: #A6ADB4;
	padding-top: ;
	padding-left: 
}
.block1,
.block2,
.block3,
.block4,
.block5,
.block6 {
	display: inline-block;
	
	margin-top: 56px;
	margin-right: 50px;
	vertical-align: top;
}
 
 .block1 {
 	margin-left: 142px;

 }
 .icon {
 	padding-right: 22px;
 }