body {
	background-color: #F6F8F9;
	padding-top: 44px;
}
/*header*/
.header {
 	position: fixed;
 	z-index: 2;
 	top: 0px;
 	left: 0px;
 	width: 100%;
 }
.logo {
 	display: inline-block;
 	margin-top: 20px;
	margin-rigth: 70px;
 	margin-left: 20px;
 	font-size: 11px;
 	color: #FA6980;
 	text-transform: uppercase;
 	font-family: 'Helvetica';
 	font-weight: bold;
 }
 .nav {
 	display: inline-block;
 	margin-right: 92px; 
 }
 .nav-li {
 	display: inline-block;
 	margin-top: 20px;
 	margin-left: 20px;
 	text-transform: uppercase;
 	font-weight: bold;
 	font-size: 11px;
 	font-family: 'Helvetica';
 }
 .avatar {
 	display: inline;
 	margin-left: 40px;
 	margin-top: 11px;
 }



/*content*/

.sect {
	width: 1160px;
	margin: 0 auto;
}
.h2 {
	text-transform: uppercase;
 	font-size: 24px;
 	font-family: 'Helvetica'; 
}
.conteiner-block {
	width: 1160px;
	margin-top: 56px;
}

.left-block {
	display: inline-block;
	width: 760px;
	vertical-align: top;
	margin-right: 40px;

}
.right-block {
	display: inline-block;
	width: 360px;
	vertical-align: top;
}
.image22 {
	margin-top: 102px;
	margin-bottom: 102px;
}
.image1 {
	margin-botto
}
/*footer*/
.footer-bg {
	background-color: #A6ADB4;
	padding-top: ;
	padding-left: 
}
.block1,
.block2,
.block3,
.block4,
.block5,
.block6 {
	display: inline-block;
	vertical-align: top;
	margin-top: 56px;
	margin-left: 50px; 
 }
  
